/* 

 * top bar css

*/
html {
  scroll-behavior: smooth;
}
html,body {
    height: 100%;
}
body{
    background-color: #dfdfdf;
    font-size: 100%;

}
button:focus{

    outline: 0;

}
label {
    font-size: .9rem;
    margin-left: 10px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}
h3 {
    font-size: 1.4rem;
    color: #4e4e4e;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
p {
    font-size: 1rem;
    color: #545454;
}
.form-control:focus {
    border-color: #000;
    box-shadow: none;
}
.font-p{
    font-family: 'Poppins', sans-serif;
}
.container:focus{
    outline: 0;
}
.container-fluid:focus{
    outline: 0;
}
.single-review-box:focus {
    outline: 0;
}
a{
    font-size: .8rem;
}
a:hover {

    text-decoration: none;

}
.row:focus {
    outline: 0;
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
div#content:focus {
    outline: 0;
}
.padd-right-0{
    padding-right: 0;
}
button.primary_btn {
    background: #0a55a6;
    border: 0;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
}
.section-padding{
    padding: 40px 0;
}
.section-heading.both {
    align-items: center;
    justify-content: space-between;
}

.section-heading {
    padding: 0 0 30px;
}
.section-heading.both a {
    color: #313131;
    font-size: 20px;
    transition: 0.3s ease-in;
}

.section-heading.both a i {
    width: 20px;
    height: 20px;
    background: #0a55a6;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
}

.section-heading.both a:hover {
    color: #0a55a6;
}
section div:focus {
    outline: 0;
}
/* width */

::-webkit-scrollbar {
    width: 10px;
}

  /* Track */

  ::-webkit-scrollbar-track {

    background: #f1f1f1; 

  }
  /* Handle */

  ::-webkit-scrollbar-thumb {

    background: #fafafa; 

  }
  /* Handle on hover */

  ::-webkit-scrollbar-thumb:hover {

    background: #eee; 

  }

img{
    max-width: 100%;
}

.padd-none{
    padding: 0;
}
.tmxr_flex{
    display: flex;
}
/* header css */
header.tmxr_header_area {
    height: 100px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
}
.tmxr_inner_header.tmxr_flex {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tmxr_inner_header.tmxr_flex .logo-area {
    flex-basis: 16%;
    padding-right: 20px;
}
.tmxr_inner_header.tmxr_flex .menu-area {
    flex-basis: 46%;
}
.tmxr_inner_header.tmxr_flex .search-login-control {
    flex-basis: 38%;
}
.tmxr_inner_header .menu-area ul#tmxr-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.tmxr_inner_header .search-login-control ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.tmxr_inner_header .search-login-control ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.tmxr_inner_header .menu-area ul#tmxr-menu > li {
    position: relative;
}

.tmxr_inner_header .menu-area ul#tmxr-menu > li > a {
    display: block;
    padding: 10px 10px;
    line-height: 5.4rem;
    letter-spacing: 0.25px;
    color: #363657;
    font-size: 14px;
    transition: 0.3s ease-in;
}

.tmxr_inner_header .menu-area ul#tmxr-menu > li > a:hover {
    color: #2da4bf;
}
.tmxr_inner_header .search-login-control ul > li {
    position: relative;
}

.tmxr_inner_header .search-login-control ul > li > a {
    padding: 5px 20px;
    color: #363657;
    display: block;
    margin: 0 6px;
}

.tmxr_inner_header .search-login-control ul > li:nth-child(2) > a {
    border: 2px solid #363657;
}
.tmxr_inner_header .search-login-control ul > li:last-child > a {
    border: 2px solid #363657;
    background: #363657;
    color: #fff;
}
.tmxr_inner_header .search-login-control ul > li:hover:first-child span > i {
    color: #2da4bf;
}
form#header-search-form div {
    position: relative;
    margin: 0;
}
form#header-search-form div > input[type=text]:focus{
	outline: 0;
}
form#header-search-form div > input[type=text] {
    border: 1px solid #d2d2d2;
    width: 100%;
    padding: 0.26rem 1rem;
    color: #313131;
    border-radius: 4px;
}
form#header-search-form div > input[type=text] + span.search-icon i {
    position: absolute;
    left: auto;
    right: 0;
    line-height: 2.3;
    background: #e7e7e7;
    width: 35px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    color: #363657;
    transition: 0.3s ease-in;
}

form#header-search-form div > input[type=text]::placeholder {
    text-transform: capitalize;
    color: #b0b0b0;
}
.tmxr_inner_header .search-login-control ul > li:first-child {
    width: 46%;
    margin-right: 1%;
}


/* banner css */
section.tmxr_welcome_area {
    height: 70%;
    position: relative;
}

section.tmxr_welcome_area .banner_bg,section.tmxr_welcome_area .banner_bg > div {
    height: 100%;
}

section.tmxr_welcome_area .banner_bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

section.tmxr_welcome_area .banner_bg .tmxr_flex.caption_box {
    align-items: center;
    justify-content: flex-start;
}
section.tmxr_welcome_area .banner_bg .caption_box h1.quotation {
    color: #fff;
    position: relative;
    padding: 0 65px;
    line-height: 3.8rem;
    font-size: 40px;
}

section.tmxr_welcome_area .banner_bg .caption_box h1.quotation:before {content: "\f10d";left: 0;right: auto;}

section.tmxr_welcome_area .banner_bg .caption_box h1.quotation:after,section.tmxr_welcome_area .banner_bg .caption_box h1.quotation:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #4a4398;
}

section.tmxr_welcome_area .banner_bg .caption_box h1.quotation:after {content: "\f10e";right: 0;left: auto;}

section.tmxr_welcome_area .banner_bg .caption_box h3.title-1 {
    color: #fff;
    margin: 0 0 15px;
    font-size: 28px;
}
.caption_box button.primary_btn.tmxr_btn:hover {
    background: #1d1e3a;
}
.caption_box button.primary_btn.tmxr_btn {
    margin: 10px 0 0;
    transition: 0.4s ease-in;
}



/* review css */
div.review_slide {
    opacity: 0;
    visibility: hidden;
}
.single-review-box:hover {
    transform: scale(1.04);
}
.single-review-box {
    display: flex;
    align-items: self-start;
    justify-content: flex-start;
    flex-direction: column;
    background: #fff;
    padding: 20px 15px;
    border: 10px solid #ececec;
    border-radius: 20px;
    transition: 0.4s ease-in;
}

.single-review-box .thumb-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-review-box .thumb-part ul li i {
    font-size: 12px;
    margin: 0 0 0 5px;
    color: #f69c20;
}
.single-review-box .thumb-part > img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.single-review-box .thumb-part ul {
    display: flex;
}
.single-review-box .reviewer_details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.single-review-box .reviewer_details h3 {
    font-size: 14px;
    margin: 0;
}

.single-review-box .reviewer_details span {
    color: #b7b7b7;
    font-weight: 500;
    font-size: 14px;
}
.single-review-box .review_text p {
    font-size: 14px;
    padding: 0 12px;
    text-align: left;
    letter-spacing: .04rem;
    line-height: 1.4rem;
}

/* top products css */
section.tmxr_top_products .single-product .review ul {
    display: flex;
    margin: 10px 0;
}

section.tmxr_top_products .single-product {
    border: 1px solid #d2d2d2;
    background: #fff;
    text-align: left;
    position: relative;
}
section.tmxr_top_products .single-product h3.product-title {
    font-size: 16px;
    line-height: 1.6;
}

section.tmxr_top_products .single-product .product-short-desc {
    padding: 0 10px;
}
section.tmxr_top_products .single-product .add-to-cart-wrapper {
    padding: 7px 0;
    border-radius: 4px;
    position: relative;
    height: 44px;
    overflow: hidden;
}
section.tmxr_top_products .single-product .add-to-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition: 0.3s ease-in;
    border-top: 1px solid #d2d2d2;
}
section.tmxr_top_products .single-product:hover .add-to-cart {
    bottom: 0;
}
section.tmxr_top_products .single-product .product-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
}
section.tmxr_top_products .single-product .product-thumb > a {
    display: block;
    width: 100%;
    height: 100%;
}

section.tmxr_top_products .single-product .product-thumb > a > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section.tmxr_top_products .single-product .add-to-cart span.wishlist {
    flex-basis: 25%;
    text-align: center;
}
section.tmxr_top_products .single-product .add-to-cart span.wishlist i {
    color: #fc2779;
    font-size: 24px;
}
section.tmxr_top_products .single-product .add-to-cart a.add-to-cart-btn {
    background: #fc2779;
    color: #fff;
    padding: 8px 11px;
    font-size: 16px;
    text-transform: uppercase;
    flex-basis: 75%;
    text-align: center;
}
section.tmxr_top_products .single-product h3.product-title a:hover {
    color: #ed64a6;
}
section.tmxr_top_products .single-product h3.product-title a {
    color: #313131;
    transition: 0.3s ease-in;
}
section.tmxr_top_products .single-product .review ul li i {
    margin: 0 6px 0 0px;
    font-size: 12px;
}

section.tmxr_top_products .single-product .review {
    padding: 0 10px;
}



/* footer css */
div#wrapper-footer {
    padding: 20px 0;
    text-align: center;
    background: #eaeaea;
    border-top: 1px solid #d2d2d2;
}
div#wrapper-footer a {
    color: #0a55a6;
}
div#wrapper-footer-full {
    background: #1e243f;
    padding: 60px 0;
    position: relative;
}
div#wrapper-footer-full .footer-widget h3 {
    font-weight: 400;
    font-size: 24px;
    color: #313131;
    margin: 0;
    padding: 0 0 15px;
}
div#wrapper-footer-full .footer-widget h3 {
    font-weight: 400;
    font-size: 24px;
    color: #313131;
    margin: 0;
    padding: 0 0 15px;
}

div#wrapper-footer-full .footer-widget ul > li > a {
    color: #8a8a8a;
    font-size: 15px;
    line-height: 2.2rem;
    display: block;
    transition: 0.3s ease-in;
}

div#wrapper-footer-full .footer-widget ul > li > a:hover {
    color: #0a55a6;
}
div#wrapper-footer-full .footer-widget .footer_logo a {
    display: block;
    margin: 0 0 15px;
}

div#wrapper-footer-full .footer-widget .footer_logo a img {object-fit: cover;}

div#wrapper-footer-full .footer-widget ul li {
    line-height: 2.4rem;
    color: #8a8a8a;
}
.brands_image.tmxr_flex {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands_image.tmxr_flex > div {
    flex-basis: 14.16%;
    margin: 0 1% 2%;
}

.brands_image.tmxr_flex > div > img {
    border: 1px solid #d2d2d2;
    box-shadow: 2px 2px 4px -1px rgba(0,0,0,.6);
}

.brands_image.tmxr_flex > div > img {
    object-fit: cover;
    width: 100%;
}
.brands_image.tmxr_flex > div:nth-child(6n + 1) {margin-left: 0;}

.brands_image.tmxr_flex > div:nth-child(6n + 6) {
    margin-right: 0;
}

/* start page design */
 div#page-wrapper{
     background-color: #dfdfdf;
 }
/* ---- start Single product page design */
.product-short-desc-block {
    background-color: #fff;
    margin: 10px 0 0;
    position: relative;
}
.product-short-desc-block .product-short-desc h3 {
    line-height: 2.2rem;
    margin: 0 0 8px;
    font-weight: 500;
}
.product-short-desc-block .product-short-desc h3 + span {
    color: #967ee2;
    border-top: 1px solid #ececec;
    display: block;
    font-size: 0.9rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.product-short-desc-block .product-short-desc {
    padding: 15px 10px;
}
.product-short-desc-block .product-short-desc .rating_share_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-short-desc-block .product-short-desc .rating_share_block .single_product_rating_block {
    flex-basis: 70%;
    display: flex;
}

.product-short-desc-block .product-short-desc .rating_share_block .single_product_share_block {
    flex-basis: 30%;
    text-align: right;
}

.product-short-desc-block .product-short-desc .rating_share_block .single_product_rating_block ul.rating_review {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
}
.product-short-desc-block .product-short-desc .rating_share_block .single_product_share_block > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.product-short-desc-block .product-short-desc .rating_share_block .single_product_share_block > ul > li > a {
    display: block;
    padding: 0 10px;
    font-size: 18px;
    color: #c1c1c1;
}
.product-short-desc-block .product-short-desc .rating_share_block .single_product_rating_block ul.rating_review > li > a {
    color: #f69c20;
    margin: 0 2px;
    font-size: 16px;
}

.product-short-desc-block .product-short-desc .rating_share_block .single_product_rating_block ul.rating_review + a +span.sep {
    color: #c1c1c1;
    margin: 0 7px;
    line-height: 2.2rem;
}

.product-short-desc-block .product-short-desc .rating_share_block .single_product_rating_block a {
    color: #0bb3ab;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 2.2rem;
}
.product_review_button {
    margin: 15px 0 0;
    position: relative;
}

.product_review_button a,.visit_website_btn {
    border: 1px solid transparent;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    margin: 0 2px;
    padding: 0.4rem 2rem;
}

.product_review_button a.check_price_btn {
    background: #2ABBE8;
}

.product_review_button a.write_review_btn,.visit_website_btn {
    background: #0070BA;
}
.single-product-after-desc .review-filter-box,.review-filter-box {
    background: #fff;
    margin: 10px 0 0;
    padding: 20px;
}
.single-product-after-desc .review-filter-box .review-type > ul > li {
    display: flex;
}

.single-product-after-desc .review-filter-box .review-type > ul > li > div.single-review-type {
    flex-basis: 25%;
}

.single-product-after-desc .review-filter-box .review-type > ul > li > div.progress {
    flex-basis: 65%;
    border-radius: 0;
}

.single-product-after-desc .review-filter-box .review-type > ul > li > span.perchentage {
    flex-basis: 10%;
    text-align: right;
    font-size: .9rem;
}
.single-product-after-desc .review-filter-box .review-type > ul > li > div.progress >.progress-bar {background-color: #737194;}
.single-product-after-desc .review-box, .review-box {
    margin: 10px 0 0;
    background: #fff;
    padding: 20px;
    position: relative;
}
.single-product-after-desc .review-box .user-part,.review-box .user-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

.single-product-after-desc .review-box .user-part .user-box,.review-box .user-part .user-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 50%;
}

.single-product-after-desc .review-box .user-part .user-box .thumb,.review-box .user-part .user-box .thumb {
    width: 80px;
    height: 80px;
    position: relative;
}
.single-product-after-desc .review-box .user-part .user-box .thumb > a,.review-box .user-part .user-box .thumb > a{
    display: block;
    width: 100%;
    height: 100%;
}
.single-product-after-desc .review-box .user-part .user-box .thumb > a img,.review-box .user-part .user-box .thumb > a img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.single-product-after-desc .review-box .user-part .user-box .user-desc,.review-box .user-part .user-box .user-desc {
    padding-left: 20px;
}

.single-product-after-desc .review-box .user-part .user-box .user-desc > a > h3,.review-box .user-part .user-box .user-desc > a > h3 {
    color: #666A89;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 5px;
}
.single-product-after-desc .review-box .user-part .user-box .user-desc span.count-review i,.review-box .user-part .user-box .user-desc span.count-review i {
    color: #ccc;
    font-size: 14px;
    padding-right: 5px;
}

.single-product-after-desc .review-box .user-part .user-box .user-desc span.count-review i + a,.review-box .user-part .user-box .user-desc span.count-review i + a {
    color: #a7a5a5;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s;
}

.single-product-after-desc .review-box .user-part .user-box .user-desc span.count-review i + a:hover,.review-box .user-part .user-box .user-desc span.count-review i + a:hover {
    color: #ccc;
}
.user-follower-box a {
    color: #7994DC;
    background: #D5E3FC;
    padding: 5px 20px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.single-product-after-desc .review-box .review-part .review-part-top,.review-box .review-part .review-part-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 20px;
}

.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left,.review-box .review-part .review-part-top .review-part-top-left {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    justify-content: flex-start;
}

.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon,.review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 10px 0 0;
}

.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li > a > i,.review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li > a > i {
    color: #fff;
}

.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li > a,.review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li > a {
    background: #08B379;
    width: 30px;
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 1px;
    border-radius: 2px;
    font-size: 18px;
}
.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li.single-star-4 > a,.review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li.single-star-4 > a{
    background: rgb(115, 207, 17);
}
.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li.single-star > a,.review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li.single-star > a{
    background: rgb(220, 218, 229);
}
.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li.single-star-3 > a,.review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li.single-star-3 > a{
    background: rgb(255, 195, 28);
}
.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li.single-star-2 > a,.review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li.single-star-2 > a{
    background: rgb(230, 103, 43);
}
.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li.single-star-1 > a,.review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon > li.single-star-1 > a{
    background: rgb(255, 56, 28);
}
.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon + span,.review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon + span {
    color: #c1c1c1;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon + span,.review-box .review-part .review-part-top .review-part-top-left > ul.user-review-icon + span {
    color: #c1c1c1;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: .8rem;
}

.single-product-after-desc .review-box .review-part .review-part-top .review-part-top-right span.date,.review-box .review-part .review-part-top .review-part-top-right span.date {
    color: #c1c1c1;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.single-product-after-desc .review-box .review-part  .review-part-message h3,.review-box .review-part  .review-part-message h3 {
    text-transform: capitalize;
    margin: 0 0 12px;
}

.single-product-after-desc .review-box .review-part .review-part-message p,.review-box .review-part .review-part-message p {
    line-height: 1.537rem;
    font-family: 'Poppins', sans-serif;
    color: #545454;
    text-align: left;
}
.single-product-after-desc .review-box .review-part,.review-box .review-part {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px;
}
.single-product-after-desc .review-box .review-like-box ul.like-box-menu,.review-box .review-like-box ul.like-box-menu {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.single-product-after-desc .review-box .review-like-box ul.like-box-menu > li > a,.review-box .review-like-box ul.like-box-menu > li > a {
    margin: 0 7px;
    color: #c1c1c1;
    display: block;
    transition: all 0.4s;
    font-size: 0.8rem;
}

.single-product-after-desc .review-box .review-like-box ul.like-box-menu > li:first-child > a,.review-box .review-like-box ul.like-box-menu > li:first-child > a {margin-left: 0;}

.single-product-after-desc .review-box .review-like-box ul.like-box-menu > li > a:hover,.review-box .review-like-box ul.like-box-menu > li > a:hover {
    color: #737194;
}

.single-product-after-desc .review-box .review-like-box ul.like-box-menu > li > a > i,.review-box .review-like-box ul.like-box-menu > li > a > i {
    padding: 0 10px 0 0;
}
.review-paginate {
    margin: 10px auto;
    position: relative;
    width: 33%;
}

.review-paginate ul.review-paginate-list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 5px;
}

.review-paginate ul.review-paginate-list > li > a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    margin: 0 4px;
    border-radius: 4px;
    color: #717171;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.review-paginate ul.review-paginate-list > li > a.active {
    background: #1B9BBB;
    color: #fff;
}
.single-product-qa {
    background: #fff;
    margin: 0 0 10px;
    position: relative;
}

.single-product-qa h3.title {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-transform: capitalize;
}
.qa-box-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 0 10px;
}

.qa-box-wrap > span {
    flex-basis: 4%;
}

.qa-box-wrap div.qa-box {
    flex-basis: 93%;
}
.qa-box-wrap div.qa-box .question-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.qa-box-wrap div.qa-box .question-details p {
    margin: 0 5px 0 0;
    font-size: 0.8rem;
    color: #959DD5;
}

.qa-box-wrap div.qa-box .question-details span.sep {
    margin: 0 5px;
}

.qa-box-wrap div.qa-box > p {
    margin: 0 0 5px;
}
.qa-box-wrap div.qa-box .question-details > a {
    color: #959DD5;
}
.qa-box-wrap > span {
    text-align: center;
    color: #fff;
    border-radius: 3px;
    line-height: 1.8rem;
    font-size: .8rem;
    position: relative;
}
.question-box.qa-box-wrap > span{
    background: #1B9BBB;
}
.answer-box.qa-box-wrap > span{
    background: #9F9F9F;
}

.qa-box-wrap > span:after {
    content: "";
    border-top: 0px solid transparent;
    border-left: 10px solid #1B9BBB;
    border-right: 0px solid transparent;
    border-bottom: 9px solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    margin-bottom: -7px;
    z-index: 1;
}
.question-box.qa-box-wrap > span:after{
    border-left: 10px solid #1B9BBB;
}
.answer-box.qa-box-wrap > span:after{
    border-left: 10px solid #9F9F9F;
}
.single-product-overview .single-product-overview-list > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-product-overview .single-product-overview-list {
    width: 50%;
}

.single-product-overview .single-product-overview-list > li > h3 {
    position: relative;
    color: #737194;
    margin: 0;
    background: #fff;
}

.single-product-overview .single-product-overview-list > li > h3 > span {
    color: #dedede;
}

.single-product-overview .single-product-overview-list > li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #f1f1f1;
    z-index: -1;
    top: 0;
    left: 0;
    right: auto;
    margin-top: 1rem;
}

.single-product-overview .single-product-overview-list > li {
    position: relative;
    z-index: 1;
}

.single-product-overview .single-product-overview-list > li > p {
    background: #fff;
}

/* ---- end Single product page design */
.review_primary_btn,.review_secondary_btn{
    border: 1px solid transparent;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    margin: 0 2px;
    padding: 0.4rem 2rem;
    
}
.review_secondary_btn{
    background: #0070BA;
}
.review_primary_btn{
    background: #2ABBE8;
}
/* ---- start Account page css ----- */


.space{
    margin-top: 30px;
}
/*===================================
                MAIN-PAGE
=====================================*/

/*-----MY-ACCOUNTS*----*/
.short-profile{
    background: #fff;
    margin-bottom: 30px;
    -webkit-box-shadow: -1px 12px 27px -7px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -1px 12px 27px -7px rgba(0, 0, 0, 0.22);
    box-shadow: -1px 12px 27px -7px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;;
    border-radius: 3px;
}
.short-profile img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.short-profile h4,.short-profile span{
    text-transform: capitalize;
    color: #212529;
}

.aside{
    -webkit-box-shadow: -1px 12px 27px -7px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -1px 12px 27px -7px rgba(0, 0, 0, 0.22);
    box-shadow: -1px 12px 27px -7px rgba(0, 0, 0, 0.22);
    margin-bottom: 30px;
}
.aside a{
    border:0px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    text-transform: capitalize;
    font-weight: 600;
 
}

/*
.right{
    border-radius: 3px;
    padding: 20px;
}
*/


/*----MY-ACCOUNTS---*/
.my-accounts{
    background: #fff;
    border-radius: 3px;
    padding: 20px;
}
.my-accounts .heading{
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: ##212529;
}
.my-accounts .heading a{
    margin-left: 20px;
    color: #03C6C4;
    
}
.my-accounts label{
    text-transform: capitalize;
}
.my-accounts input{
    width: 45%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 3px;
    padding: 10px;
}
.my-accounts input[type="radio"]{
    width: auto;
    height: auto;
}
.my-accounts input[type="date"]::-webkit-inner-spin-button,
.right input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.my-accounts img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


/*-----MY-REVIEWS----*/
.heading{
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.review-list{
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}
.review-list img{
    height: 200px;
}
.review-list h6{
    text-transform: capitalize;
    margin-bottom: 15px;
}
.review-list div{
    margin-left: 20px;
    color: ##212529;
}
.review-list div p{
    margin-top: 20px;
}
.review-list .fa {
  font-size: 15px;
}

.review-list .checked {
  color: orange;
}
.review-list a{
    text-transform: capitalize;
}
.line{
    position: relative;
    margin-right: 10px;
}
.line::after{
    content: '';
    height: 18px;
    width: 2px;
    background: #007bff;;
    position: absolute;
    right: -6px;
    top: 2px;
}

/*-----MY-QUESTION-AND-ANSWER----*/
.myquestion-and-answer{
    background: #fff;
    border-radius: 3px;
}
.nav {
    justify-content: center;
}
.myquestion-and-answer .heading{
    margin-bottom: 0;
    padding-top: 20px;
}
.nav-link{
    text-transform: capitalize;
}
.question-list{
    display: flex;
    align-items: center;
    padding: 20px 10px;;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.question-list i{
    margin-right: 20px;
    color: #03C6C4;
    font-size: 20px;
}
.question-list p{
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.question-list span{
margin-right: 20px;
}
.reply-question {
    color: #959DD5;
    background: transparent;
    border: 0;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
/*-----MY-REWARDS----*/
.my-rewards{
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    text-transform: capitalize;
}
.my-rewards .heading{
    margin-bottom: 0;
}

/*-----MY-WISHLIST----*/
.my-wishlist{
    
}
.single-wishlist{
    background: #fff;
    border-radius: 3px;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-weight: 600;
    display: block;
    position: relative;
}


.single-wishlist .fa.fa-heart-o{
    font-size:35px;
    position: absolute;
    top: 20px;
    right:20px;
    cursor: pointer;
    color: black;
}


.single-wishlist .fa-star {
  font-size: 15px;
}

.single-wishlist .fa.fa-heart-o.remove {
 color:red;
    
}
.single-wishlist p{
    display: block;
    margin: 10px 0;
    color:#212529;
}
.single-wishlist .checked {
  color: orange;
}


/*===================================
                LOGIN-PAGE
=====================================*/
.margin{
    margin-top: 30px;
}
.login-page{
    background: #fff;
    border-radius: 3px;
    padding: 30px;
    color:#212529;
}
.login-page h2{
    margin-bottom:10px; 
}
.login-page h2,.login-page span{
     text-transform: capitalize;
}
.login-page form{
    margin-top: 20px;
}
.login-page label{
    text-transform: capitalize;
}
.login-page input[type=text], .login-page input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
    margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  border-radius: 3px;
}

.login-page button {
  background-color: #8e783d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  outline: none;
  text-transform: capitalize;
}
.login-page button:hover {
  opacity: 0.8;
}

/*===================================
                FORGOT-PAGE
=====================================*/
.forgot-page{
    background: #fff;
    border-radius: 3px;
    padding: 30px;
    color:#212529;
}
.forgot-page h2{
    margin-bottom:10px; 
}
.forgot-page form{
    margin-top: 20px;
}
.forgot-page label{
    text-transform: capitalize;
}
.forgot-page input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
    margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  border-radius: 3px;
}

.forgot-page button {
  background-color: #8e783d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  outline: none;
  text-transform: capitalize;
}
.forgot-page button:hover {
  opacity: 0.8;
}


/*===================================
                SING-UP-PAGE
=====================================*/
.sing-up-page{
    background: #fff;
    border-radius: 3px;
    padding: 30px;
    color:#212529;
}
.sing-up-page h2{
    margin-bottom:10px; 
}
.sing-up-page .get-started{
    display: block;
} 
.sing-up-page h2,.login-page span{
     text-transform: capitalize;
}
.sing-up-page form{
    margin-top: 20px;
}
.sing-up-page label{
    text-transform: capitalize;
}
.sing-up-page input[type=text], .sing-up-page input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
    margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  border-radius: 3px;
}

.sing-up-page button {
  background-color: #8e783d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  outline: none;
  text-transform: capitalize;
}
.sing-up-page button:hover {
  opacity: 0.8;
}
/* ---- end Account page css ----- */

/* ---- start review page design ---- */
.single-product-header {
    background: #fff;
    border-top: 1px solid #ccc;
    position: relative;
    padding: 0.9rem 0rem;
}

.single-product-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.single-product-header-inner .thumb {
    flex-basis: 20%;
}

.single-product-header-inner .s-product-title {
    flex-basis: 80%;
}
.review-message-box-wrap form .review-form-top {
    background: #fff;
    margin: 0.8rem 0rem;
    padding: 1rem 0.8rem 0.3rem;
    position: relative;
}
.review-message-box-wrap form .review-form-top label {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    display: block;
}

.review-message-box-wrap form .review-form-top ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0.8rem 0 0;
}

.review-message-box-wrap form .review-form-top ul > li > a > i {
    width: 2rem;
    height: 2rem;
    display: block;
    line-height: 30px;
    font-size: 1.6rem;
    color: #fff;
    background: #DCDAE5;
    text-align: center;
    margin: 0 0.1rem;
    transition: all 0.4s;
}
.review-message-box-wrap form .review-form-top ul > li:first-child > a > i {
    background: #FF381C;
}
.review-message-box-wrap form .review-form-top textarea {
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 0.13rem;
    margin: 0.5rem 0 0;
    padding: 0.5rem;
}

.review-message-box-wrap form .review-form-top textarea::placeholder {
    padding: 0.6rem;
    font-size: 0.9rem;
    color: #ccc;
}
.review-message-box-wrap form .form-group {
    margin: 0;
}

.review-message-box-wrap form .review-form-top .form-group:nth-child(1) {margin: 0 0 1rem 0;}
.review-message-box-wrap form .review-form-top a.useful-review {
    display: block;
    color: rgb(204, 204, 204);
    text-decoration: underline;
    margin: 0.7rem 0;
}
.review-message-box-wrap form .review-form-top input#review_title {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.3rem 0.7rem;
    margin: 0.4rem 0 0;
    position: relative;
}
.review-message-box-wrap form .review-form-top .review_title-div {
    position: relative;
}

.review-message-box-wrap form .review-form-top .review_title-div span.icon {
    position: absolute;
    left: auto;
    right: 0;
    border: 1px solid #ccc;
    bottom: 0;
    height: 85%;
    width: 7%;
    text-align: center;
    color: #ccc;
    background: #f1f1f1;
    line-height: 1.8;
}
.review-message-box-wrap form .review-form-bottom {
    background: #fff;
    margin: 3rem 0 0.7rem;
    padding: 1rem 1.2rem;
    text-align: left;
    position: relative;
}

.review-message-box-wrap form .review-form-bottom input[type=submit] {
    display: block;
    width: 100%;
    background: #1C52BE;
    color: #fff;
    border: none;
    padding: 0.3rem 0;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0.7rem 0 0;
    font-family: 'Poppins', sans-serif;
}
.review-message-box-wrap form .review-form-bottom a {
    color: #1C52BE;
    text-decoration: underline;
}
/* ---- end review page design ---- */
/* ---- start brand page design --- */
.single-brand-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #fff;
    margin: 0.5rem 0;
    padding: 1.7rem 1.2rem;
}
.single-brand-header .brand-thumb {
    flex-basis: 20%;
    padding-right: 1rem;
}

.single-brand-header .brand-details {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-brand-header .brand-details .brand-details-left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    flex-basis: 60%;
}
.single-brand-header .brand-details .brand-details-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.single-brand-header .brand-details .brand-details-right {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 40%;
}
.single-brand-header .brand-details .brand-details-left .rating-count {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 0 1rem;
}
.single-brand-header .brand-details .brand-details-left .rating-count ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 8px 0 0;
}

.single-brand-header .brand-details .brand-details-left .rating-count ul > li > a > i {
    color: #F9CD0A;
    margin: 0 0.1rem;
    display: block;
}

.single-brand-header .brand-details .brand-details-left .rating-count ul + a {
    color: #66A8AF;
    font-weight: 500;
}
.single-brand-header .brand-details .brand-details-left .brand_social_account ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-brand-header .brand-details .brand-details-left .brand_social_account ul > li > a > i {
    width: 2.2rem;
    display: block;
    height: 2.2rem;
    line-height: 2.2rem;
    background: #ccc;
    color: #fff;
    text-align: center;
    margin: 0 0.2rem;
    font-size: 1.4rem;
    border-radius: 3px;
}

.single-brand-header .brand-details .brand-details-left .brand_social_account ul > li:first-child > a > i {
    margin-left: 0;
}
.single-brand-header .brand-details .brand-details-left .brand_social_account ul > li> a > i.fa-facebook-f {
    background: #3b5999;
}

.single-brand-header .brand-details .brand-details-left .brand_social_account ul > li > a > i.fa-youtube {
    background: #cd201f;
}

.single-brand-header .brand-details .brand-details-left .brand_social_account ul > li > a > i.fa-instagram {
    background: #e4405f;
}
.single-brand-header .brand-details .brand-details-left .brand_social_account ul > li > a > i.fa-linkedin {
    background: #0077B5;
}

.single-brand-header .brand-details .brand-details-right a.social_share_btn i {
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0 0 1.5rem;
    font-size: 1.4rem;
    color: #ccc;
}
/* ---- end brand page design ----*/
/* start user page design */
.user-review-questions ul {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.user-review-questions ul > li {
    font-size: 14px;
    color: #9d9d9d;
    margin: 0 7px 10px 0;
}
/* end user page design */
/* end page design */


/* animation class */

@keyframes spin{

    from{transform: rotate(0deg);}

    to{transform: rotate(360deg);}

}